
*{margin:auto;}

.tabla{
	width:200px;
}

.div{
	padding-top:40px;
	text-align:center;
}

table{
	page-break-after: always;
}

.head1 {
	text-align:right;
	padding-right:40px;
	color: #496192;
	font-size: x-large;
}
.head2 {
	padding-top:20px;
	padding-right:40px;
	color: #0561BE;
	font-size: large;
	text-align:right;
}

.paragraph {
	text-align: justify;
}

.toc { 
		list-style-type:none;
}

.toc a::after {
	 content: leader('.') target-counter(attr(href), page); 
}
	
.idc-box { 

	text-align:center;
	margin-top:40px;

	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #aaa; display: table; font-size: 95%;
	margin-bottom: 1em; 
	padding: 20px;
	width: 90%;
} 
   
.idc-box .idc-titulo {
	font-weight: 700;
	text-align: center; 
} 

.idc-box li, .idc-box ul, .idc-box ul li{
 
	padding-top:40px; 

	list-style: outside none none !important;
}
 
 .idc-lista {
	
	padding-top:20px;
	margin-left:40%;

}
  
hr {
	border: 0; 
	height: 0; 
	border-top: 4px double black; 
	text-align:center;
}

hr:after {
	position: relative; 
	top: -22px; 
	content:"\25cf\25cf\25cf"; 
	font-size: 34px;
	line-height: 34px; 
	color: black;
}
